/* CSS Document */
	#main {
	    width:600px;
		height:500px;
		margin:30px;
		padding:30px;
		z-index:1;
		background-color:#CCCCCC;
	}
	#left {
	    position:relative;
		float:left;
		left:20px;
		top:20px;
		width:200px;
		height:200px;			
		background-color:#FF00FF;
		z-index:2;
	}
	#center {
	    position:absolute;
		left:68px;
		top:300px;
		width:200px;
		height:200px;
		background-color:#FF0000;
		z-index:4;
	}
	#right {
	    float:left;
		width:200px;
		height:200px;
		background-color:#00FF00;
		z-index:3;       
	}
	#fixed {position:fixed;
	        left:268px;
			top:300px;
			width:200px;
			height:200px;
			background-color:#0033FF;
			z-index:6;
			}